<mat-nav-list>
  <a *ngIf="!isAuthenticated" mat-list-item routerLink="/signup" (click)="onClose('signup')">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Signup</span>
  </a>
  <a *ngIf="!isAuthenticated" mat-list-item routerLink="/login" (click)="onClose('login')">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>

  <a mat-list-item *ngIf="isAuthenticated" (click)="Logout()">
    <!-- <button mat-icon-button (click)="onClose()"> -->
    <mat-icon>eject</mat-icon>
    <span class="nav-caption">Logout</span>

  </a>
</mat-nav-list>