
<button mat-button>Click me!</button>
<!-- <div class="form-group">
  <label for="usr">Name:</label>
  <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input type="password" class="form-control" id="pwd">
</div>  -->
<div class="container">
  <h3>Who Am I?</h3>
  <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8b/NEDUET_logo.svg/200px-NEDUET_logo.svg.png" alt="Bird" width="350" height="350">
  <h3>I'm an adventurer</h3>
</div>

<router-outlet></router-outlet>
