<header>
    <div class="overlay" fxLayout='column' fxLayoutAlign="start center" [ngStyle.lt-sm]="{'font-size': '10px', color: '#a63db8', 'text-align': 'center'}">
  <h1>Welcome To Our Campus </h1>
  <h3>NED UNIVERSITY OF ENGINEERING AND TECHNOLOGY </h3>
  <p>" It is one of the oldest and most renowned institution of higher learning in Pakistan"</p>
    <br>
    <button>READ MORE</button>
     
      


<div class="container" >
    <h1>
      Career with Us
    </h1>
  
  </div>
  <div class="container">
    <!-- <h3>
      Welcome To Our Campus
    </h3> -->
  
    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8b/NEDUET_logo.svg/200px-NEDUET_logo.svg.png" alt="Bird" width="350" height="350">
   
  </div>
</div>
</header>
  